
.infoSection{
    width: 60%;
    margin: 0 auto;
    background-color:  rgb(29, 29, 29, 0.8);
    margin-top: 6vh;
    border-radius: 50px;
    
}

.infoSectionTitle{
    
    font-size: 2rem;
    padding: 1rem;
}

.infoSectionText{
    color: rgba(255, 255, 255, 0.747);
    font-size: 1.0rem;
    padding: 1.0rem;
    display: flex;
}

.infoSectionLine{
    width: 80%;
    
}