.App {
  text-align: center;
  height: 2500px;
  
}

body{
  background-image: linear-gradient(rgb(0, 53, 133) 0, rgb(255, 59, 69)90%, rgb(255, 115, 60));
  background-repeat: no-repeat;
  background-size: 100% 2500px;
}

.retroFont{
  font-family: "Silkscreen";
  color: rgb(148, 238, 241);
  text-shadow: 3px 3px rgb(163, 64, 209);
}

.infoSectionImage{
  max-width: 30%;
  max-height: 300px;
  border-radius: 10px;
  padding: 1.5rem;
}

#particles{
  position : absolute;
  width:100%;
  height:100%; z-index:-1;
}
.text{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}