.App {
  text-align: center;
  height: 2500px;
  
}

body{
  background-image: linear-gradient(rgb(3, 131, 216) 0, rgb(255, 59, 69)90%, rgb(255, 115, 60));
  background-repeat: no-repeat;
  background-size: 100% 2500px;
}

.retroFont{
  font-family: "Silkscreen";
  color: rgb(148, 238, 241);
  text-shadow: 3px 3px rgb(163, 64, 209);
}
